@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, sans-serif;
  }
}
body {
  overflow-x: hidden;
}
.active {
  border-bottom: "2px solid #9ACD32";
}

.line-height {
  line-height: 20px;
}
.main-image div {
  visibility: hidden;
}
.text-wrap {
  word-wrap: break-word;
}
.main-image:hover div {
  visibility: visible;
  transition: 0.3s ease-in;
}
@media (max-width: 700px) {
  .line-height {
    line-height: 15px;
  }
}
